@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
    max-width: 1170px;
    margin: 50px auto 110px;
}
/* shared style */

.primary-btn{
    background-color: #FF5400;
    color: #ffffff;
    padding: 14px 35px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
}

/* header Section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    margin-right: 10px;
}

.logo-title{
    font-size: 2rem;
}

.navbar{
    display: none;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items li{
    list-style: none;
    margin-left: 40px;
}

.nav-items li a{
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
}

/* banner section */

.banner-section{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header_img.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0px;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
}

.banner_title{
    font-size: 4rem;
}

.banner_description{
    font-size: 1rem;
    line-height: 1.625rem;
    padding: 20px 100px;
}

.banner-search-field{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    padding: 16px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner-search-field input{
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    padding: 16px;
    outline: 0;
}

.find_now_btn{
    background-color: #FF5400;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.find_now_btn a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.fa-magnifying-glass{
    font-size: 1rem;
    margin-right: 5px;
}

.search_btn{
    color: #ffffff;
    font-size: 1rem;
}

/* Popular Tour Section */

.popular-tour-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.popular-tour-title{
    font-size: 2.5rem;
}

.popular-tour-description{
    font-size: 1rem;
    line-height: 1.625rem;
    color: #131318;
}

.popular-tour-description p{
    margin: 17px 0px;
}

.popular-tour-description ul{
    margin-left: 14px;
}

.popular-tour-description ul li{
    margin: 8px 0px;
}

.popular-tour-img-container{
    width: 100%;
}

.popular-tour-img-container img{
    height: 100%;
}



/* mobile responsive */
@media screen and (max-width: 600px)  {

    body{
        margin: 50px 20px;
    }

    nav{
        flex-direction: row;
        gap: 10px;
        margin: 0px 20px;
    }

    .navbar{
        display: inline;
    }

    .fa-bars{
        font-size: 1.5rem;
    }

    .navbar-items{
        box-shadow: 1px 1px 3px #424247;
        padding: 20px;
        display: none;
    }

    .navbar:hover {
        color: #FF5400;
    }

    .nav-items{
        flex-direction: column;
        gap: 10px;
    }

    .nav-items li{
        margin: 0;
    }

    .banner-section{
        flex-direction: column;
    }

    .banner_title{
        font-size: 2.3rem;
    }

    .banner_description{
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 15px;
    }

    .banner-search-field{
        flex-direction: column;
        width: 70%;
    }

    #Where_go,
    #When,
    #Select_Type,
    .find_now_btn {
        width: 100%;
    }

    .find_now_btn a {
        justify-content: center;
    }

    .popular-tour-container{
        flex-direction: column;
        margin-top: 20px;
        gap: 30px;
    }

    .popular-tour-img-container img{
        width: 100%;
        height: auto;
    }
}

/* Tablet responsive */

@media screen and (min-width: 601px) and (max-width: 992px) {

    body{
        margin: 80px 30px;
    }

    nav{
        flex-direction: column;
        gap: 30px;
        margin: 0px 20px;
    }

    .nav-items{
        flex-direction: row;
        gap: 40px;
    }

    .nav-items li{
        margin: 0;
    }

    .banner-section{
        flex-direction: column;
    }

    .banner_title{
        font-size: 2.3rem;
    }

    .banner_description{
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 15px;
    }

    .banner-search-field{
        flex-direction: column;
        width: 90%;
    }

    #Where_go,
    #When,
    #Select_Type,
    .find_now_btn {
        width: 100%;
    }

    .find_now_btn a {
        justify-content: center;
    }

    .popular-tour-container{
        flex-direction: column;
        margin-top: 20px;
        gap: 30px;
    }

    .popular-tour-img-container img{
        width: 100%;
        height: auto;
    }
}